html {
  font-size: 15pt;
}

h1 {
  font-size: 35pt;
  font-weight: bold;
}

.form-control {
  max-width: 400px;
}

.list-group-item {
  word-wrap: break-word;
}

.job-title {
  font-size: 20pt;
  font-weight: bold;
}

.job-details {
  font-size: 15pt;
}
